aniso8601
appdirs
asgiref
astroid
attrs
autopep8
certifi
cffi
cfgv
chardet
click
colorama
coreapi
coreschema
cryptography
defusedxml
distlib
dj-database-url
Django
django-allauth
django-heroku
django-rest-auth
django-rest-swagger
djangorestframework
filelock
flake8
Flask
flask-restplus
gunicorn
identify
idna
isort
itsdangerous
itypes
Jinja2
jsonschema
lazy-object-proxy
MarkupSafe
mccabe
mysql-connector-python
nodeenv
oauthlib
openapi-codec
pre-commit
protobuf
psycopg2
pycodestyle
pycparser
pyflakes
PyJWT
pylint
pymongo
pyrsistent
python3-openid
pytz
PyYAML
requests
requests-oauthlib
simplejson
six
sqlparse
tabulate
toml
uritemplate
urllib3
virtualenv
Werkzeug
whitenoise
wrapt
